<div class="groupBox">
    <div class="groupBox-tree">
        <ul>
            <li *ngFor="let group of groupList">
                <ai-group-item [group]="group" [currentItem]="currentItem" (onSelectItem)="_onSelectItem($event)"
                               (onSelectGroup)="_onSelectGroup($event)"
                               (onSelectGroupMenu)="_onSelectGroupMenu($event)"
                (onSelectItemMenu)="_onSelectItemMenu($event)"></ai-group-item>
            </li>
        </ul>
    </div>
</div>