<!doctype html>
<!--[if lt IE 10]>
<html class="no-js lower-ie" lang="en">
<![endif]-->
<!--[if (gt IE 9) | (!IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <base href="/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>持续集成平台之自动化测试</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <!--[if lt IE 10]>
        <p class="browser-upgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <ai-app></ai-app>
    <div id="pre-loader">
        <div></div>
    </div>
    <!--&lt;!&ndash;[if (gt IE 9) | (!IE)]>&lt;!&ndash;>-->
    <!--<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>-->
    <!--<script type="text/javascript" src="<%=htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>-->
    <!--<% } %>-->
</body>
</html>
