<div class="login-wrapper bg-theme">
    <form class="login-form v-center-in-parent px-4" action="javascript:" novalidate>
        <h2 class="text-center my-4">用户登录</h2>
        <div class="input-group">
            <div class="input-group-addon"><i class="icon icon-user" aria-hidden="true"></i></div>
            <input type="text" class="form-control" placeholder="请输入用户名" autocomplete="off" [(ngModel)]="username" name="username" />
        </div>
        <div class="input-group mt-4">
            <div class="input-group-addon"><i class="icon icon-password" aria-hidden="true"></i></div>
            <input type="password" class="form-control" placeholder="请输入密码" autocomplete="off" [(ngModel)]="password" name="password" />
        </div>
        <button type="submit" class="btn bg-danger text-white hand btn-block mt-4" (click)="login()">登录</button>
        <p class="error my-2">{{error}}&#12288;</p>
        <p class="bottom-wrapper text-right mb-0 py-2 pr-3">
            <span class="text-danger hand" [routerLink]="['/register']">立即注册<i class="icon icon-arrow-right"></i></span>
        </p>
    </form>
</div>
