.login-wrapper {
    height: 100%;
    min-height: 700px;
    position: relative;
    .logo {
        position: absolute;
        top: 20px;
        left: 100px;
    }
    .login-form {
        right: 80px;
        width: 400px;
        background: $white;
        .input-group-addon {
            width: 2.6rem;
        }
    }

    .bottom-wrapper {
        background-color: #FCFCFC;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }

    .login-icon {
        margin-top: 2rem;
    }

    .login-title {
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: #bbb;
        font-size: 16px;
    }
}