.bg-transparent {
  background-color: transparent !important;
}

.bg-theme {
  background-color: $theme !important;
}

.text-theme {
  color: $theme !important;
}

.text-link {
  color: $link-color !important;
  text-decoration: underline !important;
}

.border-theme {
  border-color: $theme !important;
}

.border-gray {
  border-color: $border !important;
}

.bg-body {
  background-color: $body-bg !important;
}

.text-gray {
  color: #A1A1A1;
}

@each $key, $color in $colors {
  .text-#{$key} {
    color: $color !important;
  }
  .bg-#{$key} {
    background-color: $color !important;
  }
  .border-#{$key} {
    border-color: $color !important;
  }
}

@each $key, $color in $grays {
  .bg-gray-#{$key} {
    background-color: $color !important;
  }
  .text-gray-#{$key} {
    color: $color !important;
  }
}