.col-form-label, .form-inline .col-form-label {
  padding-right: 0;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &.text-left {
    justify-content: flex-start !important;
  }
  &.text-center {
    justify-content: center !important;
  }
  &.text-right {
    justify-content: flex-end !important;
  }
}

:focus {
  outline: none;
}

.border-input {
  border: 1px solid $input-border-color;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

form .btn-warning {
  background-color: #e6643b !important;
  border-color: #e6643b !important;
  &:hover {
    background-color: darken(#e6643b, 12%) !important;
  }
}

form .autocomplete-disabled {
  position: absolute !important;
  left: -10000px !important;
  top: -10000px !important;
}

.form-control:disabled:focus,
.form-control[readonly]:focus {
  border: 1px solid $input-border-color;
}

.custom-control-input {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  &:focus ~ .custom-control-label::before {
    box-shadow: none;
  }
}

.file-import-btn {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.form-control:disabled, .form-control[readonly] {
  & ~ .input-group-prepend {
    background-color: #e9ecef;
  }

  &:focus {
    box-shadow: none;
  }
}