body {
  font-family: "Microsoft YaHei", sans-serif;
}

a, a:hover {
  text-decoration: none;
}

.center-in-parent {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.v-center-in-parent {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-center {
  display: flex;
  align-items: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-scroll {
  overflow: scroll !important;
}

.overflow-auto {
  overflow: auto !important;
}

.overflow-visible {
  overflow: visible !important;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.flex-1 {
  flex: 1;
}

.flex-auto {
  flex: 0 0 auto;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.break-all {
  word-break: break-all;
}

.d-inline,
.d-inline-block,
.d-block,
.d-table,
.d-table-cell,
.d-flex,
.d-inline-flex {
  &[hidden], &.d-none {
    display: none !important;
  }
}

.d-fixed {
  position: fixed;
  z-index: 10;
}

.block {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  display: block;
}

.container-fluid {
  padding: 1rem;
}

@media (min-width: 1400px) {
  .container {
    max-width: 80%;
  }
}
