html {
  font-size: 16px;
  &.lower-ie {
    ai-app,
    #pre-loader {
      display: none;
    }
  }
}

html,
body {
  height: 100% !important;
  background-color: $body-bg;
  color: $color-base;
  overflow: hidden;
}

html body.swal2-height-auto {
  height: 100% !important;
}

.container {
  background-color: $body-bg;
  min-height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.card {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  border: none;
}

.browser-upgrade {
  margin: 0.2rem 0;
  background: #CCC;
  color: $black;
  padding: 0.2rem 0;
}

a:hover {
  cursor: pointer;
}

.icon, .hand {
  cursor: pointer;
}

input {
  outline: none;
  appearance: textfield;
}

ul,
ol,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none outside none;
}

[tabindex]:focus {
  outline: none;
}

.ace-edit-wrapper {
  height: 40vh;
}