.table-sm th, .table-sm td {
  padding: 0.5rem 1rem;
}

.table-sm td {
  font-size: $font-size-sm;
}

.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: white;
  }

  tbody tr:nth-of-type(even) {
    background-color: #fcfcfc;
  }
}

.table, .custom-table {
  label {
    margin-bottom: 0;
  }
}

.table.border-0 {
  th, td {
    border: none;
  }
}

.table-fixed {
  table-layout: fixed;
}

.custom-table {

  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  background-color: $table-bg;

  .table-header, .table-row {
    display: flex;
  }

  .table-header {
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  .table-row:not(:last-child), .table-row.row-border {
    border-bottom: $table-border-width solid $table-border-color;
  }

  .table-cell {
    flex: 1;
    padding: $table-cell-padding 1rem;
    box-sizing: border-box;
  }

  .table-cell {

    .cell-2 {
      flex: 2;
    }

    .cell-3 {
      flex: 3;
    }

    .cell-4 {
      flex: 4;
    }

    &.cell-auto {
      flex: none;
    }
  }

  &.table-sm {
    .table-cell {
      padding: $table-sm-cell-padding 1rem;
    }

    .table-row .table-cell {
      font-size: $font-size-sm;
    }
  }

  &.table-bordered {
    border: 1px solid $table-border-color;

    .table-cell:not(:last-child) {
      border-right: 1px solid $table-border-color;
    }
  }

  &.table-hover .table-row:hover {
    background-color: $table-bg-hover;
  }
}

th, .table-header .table-cell {
  font-weight: normal;
  color: $color-subtitle;
}

.table-header.thead-default {
  border-bottom: none;
}

.table-nodata {
  font-size: 12px;
}